.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 50px;
   
    font-size: 14px;
    color: #2d3748;
}

/*.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/Milan.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 0.5; 
    z-index: 0;
}*/



.container {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    margin: 3rem auto 3rem auto;
    margin: 2em;
    padding: 2em 0;
    border-top: 1px solid #E4E7EB;
    width: 100%;
}

.Twitterlink {
    color: var(--bgDark);
    margin-right: 1.5em;
    font-weight: 500;
}

.Twitterlink:hover {
    text-decoration: underline;
}

.btn {
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}