.formBody {
    background-color: #F4F6FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em !important;
    margin: 0 12em !important;
    border-radius: 4px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.08);
}

.progressBarContainer {
    margin: 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.progressBarOne {
    position: relative;
    border: 2px solid #3900B1;
    background-color: #3900B1;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.progressBarOne::before {
    position: absolute;
    content: "1";
    color: white;
    font-weight: 600;
}

.break {
    height: 3px;
    background-color: #D7D6FF;
    width: 9em;
}

.progressBarTwo {
    position: relative;
    border: 2px solid #3900B1;
    background-color: #EDEFFF;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.progressBarTwo::before {
    position: absolute;
    content: "2";
    color: #3900B1;
    font-weight: 600;
}

.stepInProgress.progressBarTwo::before {
    color: white;
}

.stepInProgress.progressBarTwo {
    background-color: #3900B1;
}


.progressBarThree {
    position: relative;
    border: 2px solid #3900B1;
    background-color: #EDEFFF;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.progressBarThree::before {
    position: absolute;
    content: "3";
    color: #3900B1;
    font-weight: 500;
}

.stepInProgress.progressBarThree::before {
    color: white;
}

.stepInProgress.progressBarThree {
    background-color: #3900B1;
}


.stepComplete {
    position: relative;
    border: 2px solid #3900B1;
    background-color: #3900B1;
}

.stepComplete::before {
    content: "";
    background: url(/images/checkmark.svg) 
      no-repeat center;
    width: 45%;
    height: 100%;
    background-size: contain;
    transition: all 0.5s ease;
}

.breakComplete {
    height: 3px;
    background-color: #3900B1;
    width: 9em;
    transition: all 1s ease;
}

.stepOneContainer, .stepTwoContainer {
    min-width: 600px;
}

.spanContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.span {
    flex: 1;
    display: inline-block;
}

.span:nth-of-type(1) {
    margin-right: 2em;
  }

.input {
    background-color: white;
    width: 100%;
    min-width: 200px;
    min-height: 50px;
    border: 1px solid #d3d3d3;
    box-shadow: inset 0px 1px 18px -4px rgba(0, 0, 0, 0.031);
    border-radius: 2px;
}

.input::placeholder {
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #ACACAC;
}

.input[type="text"]:focus {
    outline: 2px solid #0500D6;
    box-shadow: none;
    background-color: #FAFAFF;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.06em;
}

.input[type="text"], .textArea, .jobDescription {
    padding-left: 10px;
  }
  
.input[type="file"], .textArea, .jobDescription {
    width: 100%;
    border: 1px solid #C7C7C7;
  }

.textArea, .jobDescription {
    background-color: white;
    padding-top: 10px;
    min-height: 100px;
    box-shadow: inset 0px 1px 18px -4px rgb(0, 0, 0, 0.031);
    border-radius: 2px;
    margin-bottom: 1.5em;
}

.textArea::placeholder, .jobDescription::placeholder {
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #ACACAC;
}

.textArea:focus, .jobDescription:focus {
    outline: 2px solid #0500D6;
    box-shadow: none;
}

.jobDescription {
    width: 100%;
    height: 50vh;
}

.input[type="file"] {
    position: relative;
    border: 1px dashed #0500D6;
    min-height: 140px;
    background-color: #F8F8FF;
    margin-bottom: 3em;
  }
  
  .input[type="file"]::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 140px;
    content: '';
    background: url(/images/Upload2.svg) 
    no-repeat center;
    background-color: #F8F8FF;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  } 

  .fileSelected.input[type="file"], .fileSelected.input[type="file"]::before  {
       background: none;
  }

  .fileSelected.input[type="file"] {
    border: 3px solid #0500D6; 
  }

  .input[type="file"]::file-selector-button, 
  .input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    position: absolute;
  }

  .stepOneSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .stepTwoSection {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 600px;
  }

  .stepThreeSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 600px;
    min-height: 200px;
  }

  .stepThreeSection div {
    text-align: center;
  }

  .buttonsContainer {
    display: flex;
    justify-content: space-between;
  }

.nextStepBtn, .prevStepBtn {
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    border-radius: 3px;
    background-color: #18020C;
    padding: 1em 1.5em;
    margin-bottom: 3em;
}

.nextStepBtn::after {
    content: " >";
    font-size: 1.1em;
}

.nextStepBtn:hover {
    transform: translateX(5px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.prevStepBtn {
    background-color: #3b38ef;
}

.prevStepBtn::before {
    content: "< ";
    font-size: 1.1em;
}

.prevStepBtn:hover {
    transform: translateX(-5px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.hidden {
  display: none !important;
}