
html {
    scroll-behavior: smooth !important;
    -webkit-font-smoothing: antialiased;
}


:root {
        /* Font colors */
        --fontPrimary: #000000;
        --fontSecondary: #000000;
        --subheading: #787878;
      
        /* Background colors */
        --bgDark: #3900B1;
        --bgMedium: #E5D9FF;
        --bgLight: #EDEFFF;
      
        /* Button colors */
        --btnPrimary: #3900B1;
        --btnSecondary: #FFFFFF;
        --btnForm: #FDFCFF;
}

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        font-family: var(--font-dm-sans);
        font-weight: 400;
  }

  a {
        color: black;
        text-decoration: none;
        width: inherit;
      }

 