.heroContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    overflow: visible;
}

.landingImg {
    background-image: url(/images/italia.svg);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
}


.topSection {
    text-align: center;
    max-width: 700px;
    margin-top: 8em;
}

.btnsContainer {
    margin-top: 3em;
}

.uspContainer {
    width: 100%;
    max-width: 1200px;
}

.uspContainer > p {
    font-size: 1.2em;
    padding-bottom: 20px;
}

.uspSection {
    display: flex;
    justify-content: space-around;
}

.uspsBg {
   
    position: absolute;
    top: 40vh;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    
}

.USPs {
    display: flex;
    max-width: 230px;
    font-size: 1rem;
    padding-left: 10px;
    line-height: 1.5;
}

.USPs:nth-of-type(1) {
    border-left: 4px solid red;
}

.USPs:nth-of-type(2) {
    border-left: 4px solid white;
}

.USPs:nth-of-type(3) {
    border-left: 4px solid green;
}

@media only screen and (max-width: 820px) {
    .uspSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .uspContainer > p {
        margin-top: 5em;
    }

    .USPs {
        display: flex;
        align-items: center;
        max-width: 50%;
        min-height: 5em;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1em;
    }

    .USPs:nth-of-type(2) {
        border-left: 4px solid whitesmoke;
    }

}

@media only screen and (max-width: 680px) {
    .uspContainer > p {
        display: none;
    }

    .uspSection {
        display: none;
    }

    .heroContainer {
        height: 100%;
        min-height: 60vh;
    }
}

