.jobBoard {
   margin-top: 10em;
   display: flex;
   justify-content: center;
}
 
.jobBoardContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px; 
}


.h2 {
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 2em;
    position: relative;
}

.h2::before {
    width: 50px;
    height: 50px;
    content: " ";
    position: absolute;
    top: 10px;
    left: -60px;
    background: url(/images/lightning.svg)
        no-repeat center;
}

.searchBar {
    margin-bottom: 1em;
    position: relative;
    text-align: center;
    height: 60px;
    width: 100vw;
    max-width: 1000px;
    border: 1px solid var(--bgDark);
    border-radius: 2px;
    background: white;

}

.searchBar[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    width: 15px;
    height: 15px;
    background: url(/images/dismiss.svg) no-repeat center center;
    padding-right: 20px;
    cursor: pointer;
  }

.searchBar::placeholder {
    color: black;
    font-size: 1.2em;
    /*background: url(/images/search.svg)
        no-repeat 38%;
    background: none; */
}   

.searchBar:focus::placeholder {
    color: transparent;
    background: none;
}


@media only screen and (max-width: 875px) {
    /*.searchBar::placeholder {
        background: url(/images/search.svg)
        no-repeat 30%;
        background: none;
    }
*/
    .searchBar {
        width: 100vw;
    }
}

@media only screen and (max-width: 680px) {
    .jobBoard {
        margin-top: 5em;
    }

    .h2 {
        font-size: 1.8em;
    }
    
    .h2::before {
       display: none;
    }

    .searchBar[type="search"]::-webkit-search-cancel-button {
        padding-right: 0px;
      }  

    .searchBar {
        margin-bottom: 1em;
        position: flex;
        text-align: center;
        height: 60px;
        width: 92vw;
        margin-right: 1em;
        margin-left: 1em;
        border: 1px solid var(--bgDark);
        border-radius: 2px;
        overflow: hidden;
    }

    .searchBar::placeholder {
        color: black;
        font-size: 1em;
        background: none;
    } 
}