.container {
    position: relative;
    display: grid;
    grid-template-areas: 
    "logo about"
    ". tags";
    grid-template-columns: auto 1fr;
    column-gap: 1.2rem;
    background-color: white;
    margin: 0.5em 0;
    padding: 1rem;
    border: 1px solid #A994FF;
   -webkit-box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.15);
    box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.15);
    border-radius: 12px;
}

.logoContainer {
    grid-area: logo;
    border-radius: 6px;
    border: 1px solid #dfd7ff;
    overflow: hidden;
}

.container:hover {
    box-shadow: none;
    transform: translateY(3px);
    transition: transform 0.1s ease;
    cursor: pointer;
}

.previewContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EFEFEF;
    -webkit-box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
    box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
    border-radius: 5px;
    min-height: 180px;
    background-color: white;
    margin: 0.5em 0em 3em 0;
    padding: 1em;
    width: 100%;
}

.companyLogo {
    height: 100%;
}

.sectionOne {
    grid-area: about;
}

.jobTitle {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    font-weight: 800;
    color: #202020;
}

.companyName {
    font-size: 1rem;
    color: #757575;
    font-weight: 500;
}

.dateInfoCont {
    display: flex;
    align-items: center;
}

.postedOn {
    color: #757575;
    font-size: 0.8em;
    margin-left: 1.8rem;
}

.jobDesc {
   text-align: left;
   margin-top: 0.6rem;
   font-size: 0.9rem;
   max-width: 400px;
   color: #757575;
}

.sectionTwo {
    grid-area: tags;
}


.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.6rem;
    color: #2A3647;
    background-color: #E5F4FB;
    padding: 0.2rem 1rem;
    border-radius: 12px;
}

  @media only screen and (max-width: 680px) {

    .container:hover {
        transform: none;
        border: 1px solid #EFEFEF;
        -webkit-box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
        box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
    }

    .container, .previewContainer {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "logo sectionOne"
            "logo sectionTwo";
        column-gap: 1em;
        background-color: white;
        margin: 0.3em 0;
        padding: 1em;
        border-radius: 6px;
        min-height: 0px;
        -webkit-box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
        box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
    }

    .logoContainer {
        grid-area: logo;
        align-self: center;
        width: 50px !important;
        height: 50px !important;
        overflow: hidden;
    }

    .previewContainer  {
        height: 130px;
    }


    .jobTitle {
        font-size: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 700;
    }

    .companyName {
        font-size: 0.9em;
    }

    .jobDesc {
        display: none;
     }

    .sectionOne {
        grid-area: sectionOne;
        width: 100%;
        margin: 0;
    }

    .sectionTwo {
        grid-area: sectionTwo;
        width: 100%;
    }

    .jobLoc {
        position: absolute;
        top: 0;
        right: 1em;
        font-size: 0.9em;
        margin-bottom: 0.8em;
        margin-top: 1em;
        padding-left: 0em;
        background-color: #ebebfc;
        color: #3900B1;
        font-weight: 500;
        padding: 0.2em 0.4em;
        border-radius: 2px;
    }

    .jobLoc::before {
        content: " ";
        background: none;
    }

    .tag {
        margin: 0 0.5em;
        margin-bottom: 0.3em;
        font-size: 13px;
    }

    .tags {
        
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 0.5em;
    }

  }

  @media only screen and (max-width: 550px) {

    .jobTitle {
        max-width: 300px;
    }
  }


  @media only screen and (max-width: 450px) {

    .jobTitle {
        max-width: 200px;
    }
  }
  