.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 180px;
    background-color: white;
    margin: 0.5em 0;
    padding: 1em;
    min-width: 100%;
    border: 1px solid #EFEFEF;
    -webkit-box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
    box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
    border-radius: 5px;
}

.logoContainer img {
    border-radius: 5px;
}

.container:hover {
    box-shadow: none;
    transform: translateY(3px);
    transition: transform 0.1s ease;
    cursor: pointer;
   
}

.previewContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EFEFEF;
    -webkit-box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
    box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
    border-radius: 5px;
    min-height: 180px;
    background-color: white;
    margin: 0.5em 0em 3em 0;
    padding: 1em;
    width: 100%;
}

.companyLogo {
    height: 100%;
}

.sectionOne {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    height: 100%;
    margin: 0.5em 1.5em 0 1.5em;
}

.jobTitle {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 800;
}

.companyName {
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.dateInfoCont {
    display: flex;
    align-items: center;
}

.postedOn {
    color: #9c9c9f;
    font-size: 0.8em;
    margin-left: 1.8em;
}

.jobDesc {
   text-align: left;
   margin-top: 1em;
   font-size: 0.9em;
   max-width: 500px;
   font-weight: 300;
   color: #2d3748;
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5em;
    height: 100%;
    width: 150px;
}


.jobLoc {
    position: relative;
    font-size: 1em;
    margin-bottom: 0.9em;
    padding-left: 1.4em;
    font-weight: 500;
}

.jobLoc::before {
    content: " ";
    background: url(/images/location.svg)
      no-repeat center;
    position: absolute;
    top: 0px;
    left: 0;
    width: 1em;
    height: 1.3em;
}

.tag {
    margin-bottom: 0.3em;
    text-align: left;
    font-size: 0.95em;
}

.tag:nth-of-type(1) {
    color: #CE2E7B;
  }
  
  .tag:nth-of-type(2) {
    color: #2760B6;
  }
  
  .tag:nth-of-type(3) {
    color: #0D8119;
  }
  
  .tag:nth-of-type(4) {
    color: #A01569;
  }

  @media only screen and (max-width: 680px) {

    .container:hover {
        transform: none;
        border: 1px solid #EFEFEF;
        -webkit-box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
        box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
    }

    .container, .previewContainer {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "logo sectionOne"
            "logo sectionTwo";
        column-gap: 1em;
        background-color: white;
        margin: 0.3em 0;
        padding: 1em;
        max-width: 400px;
        border-radius: 2px;
        min-height: 0px;
        border: 1px solid #EFEFEF;
        -webkit-box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
        box-shadow: 0px 2px 23px -9px rgba(101, 101, 101, 0.25);
    }

    .logoContainer {
        grid-area: logo;
        align-self: center;
        width: 50px !important;
        height: 50px !important;
        overflow: hidden;
    }

    .previewContainer  {
        height: 130px;
    }


    .jobTitle {
        font-size: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
        font-weight: 700;
    }

    .companyName {
        font-size: 0.9em;
    }

    .jobDesc {
        display: none;
     }

    .sectionOne {
        grid-area: sectionOne;
        width: 100%;
        margin: 0;
    }

    .sectionTwo {
        grid-area: sectionTwo;
        width: 100%;
    }

    .jobLoc {
        position: absolute;
        top: 0;
        right: 1em;
        font-size: 0.9em;
        margin-bottom: 0.8em;
        margin-top: 1em;
        padding-left: 0em;
        background-color: #ebebfc;
        color: #3900B1;
        font-weight: 500;
        padding: 0.2em 0.4em;
        border-radius: 2px;
    }

    .jobLoc::before {
        content: " ";
        background: none;
    }

    .tag {
        margin: 0 0.5em;
        margin-bottom: 0.3em;
        font-size: 13px;
    }

    .tags {
        
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 0.5em;
    }

  }


  @media only screen and (max-width: 450px) {

    .jobTitle {
        max-width: 150px;
    }
  }
  