.heroSection {
    display: flex;
    justify-content: space-between;
    margin: 0em 10vw;
}

.logoContainer {
    margin-right: 1.5em;
}

.logoContainer img {
    border-radius: 10px;
}

.sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.jobTitle {
    font-weight: 900;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 0.2em;
}

.dateInfoCont {
    display: flex;
    align-items: center;
}

.companyName {
    font-size: 1.5em;
    font-weight: 400;
}

.postedOn {
    color: #7c7c81;
    font-size: 0.9em;
    margin-left: 5em;
}

.tags {
    display: flex;
    flex-direction: flex-end;
    flex-wrap: wrap;
}

.sectionTwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
}

.tag {
    margin-bottom: 0.3em;
    text-align: left;
    font-size: 1.2em;
    font-weight: 300;
    margin-right: 1.5em;
}

.tag:nth-of-type(1) {
    color: #CE2E7B;
  }
  
  .tag:nth-of-type(2) {
    color: #2760B6;
  }
  
  .tag:nth-of-type(3) {
    color: #0D8119;
  }
  
  .tag:nth-of-type(4) {
    color: #A01569;
  }

.applyCTA {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00114D;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px 40px;
    background-color: #EBC1FF;
}

.heroSection .applyCTA {
    display: none;
}

.jobSection {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 5em;
    margin-right: 2em;
    margin: 10em 10vw;
}

.jobText {
    color: #333333;
    line-height: 1.9;
    font-size: 1em;
    max-width: 650px;
}

.applyModule {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: #F4F6FA;
    min-width: 350px;
    margin-left: 2em;
    align-self: flex-start;
    border-radius: 3px;
}

.applyModule h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.applyModule a {
    width: 100%;
    
} 

.jobLoc {
    position: relative;
    font-size: 1.3em;
    margin-bottom: 0.9em;
    padding-left: 1.4em;
    font-weight: 400;
}

.jobLoc::before {
    content: " ";
    background: url(/images/location.svg)
      no-repeat center;
    position: absolute;
    top: 0px;
    left: 0;
    width: 1em;
    height: 1.3em;
}

.moduleTags {
    display: block;
    margin: 1em 0;
}

.moduleTags p {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 8px;
}

@media only screen and (max-width: 1140px) {
    .heroSection, .jobSection {
        margin-left: 1em;
        margin-right: 1em;
    }

}

@media only screen and (max-width: 900px) {

    .logoContainer {
        width: 150px !important;
        height: 150px !important;
    }

    .jobTitle {
        font-weight: 900;
        font-size: 1.8em;
        margin-top: 20px;
        margin-bottom: 0.5em;
    }
    
    .dateInfoCont {
        display: flex;
        align-items: center;
    }
    
    .companyName {
        font-size: 1.5em;
        font-weight: 400;
    }

    .tags {
        margin-top: 1.5em;
    }

    .heroSection {
        position: relative;
    }

    .applyCTA {
        position: sticky;
        top: 0;
        padding: 0.8em;
        margin-top: 1.5em;
        font-size: 1.3em;
    }

    .sectionTwo .applyCTA {
        display: flex;
    }

    .sectionTwo {
        width: 100%;
    }

    .heroSection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .applyModule {
        display: none;
    }

    .jobDescCont {
        margin: 0 auto;
        padding: 0;
    }

    .jobText {
        max-width: 700px;
        margin: 0 auto;
    }

    .moduleTags {
        display: flex;
        flex-wrap: wrap;
        margin: 0.5em;
    }
    

}