.nav a {
    text-decoration: none;
    color: #2d3748;
    margin: 0;
    padding: 0;
    width: auto;
    margin: 0 2em;
    font-size: 16px;

}


.nav {
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 1000 !important;
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 80px;
    /*box-shadow: 0px -5px 0.8em rgba(0, 0, 0, 0.25);
*/}

.navContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    padding: 0.8em 0 0.8em 0;
}

.logo {
   width: 135px;
   height: auto;
}

.navLink:hover {
    text-decoration: underline;
    transition: 0.1s ease;
}


.loginBtn {
    border: 2px solid #FC62FF;
    color: black;
    background-color: white;
    font-weight: 700;
    padding: 0.7em 2.5em;
    cursor: pointer;
    border-radius: 2px;
}

.loginBtn:hover {
    background-color: #FC62FF;
    color: white;
    transition: 0.2s all ease;
}

.myAccount {
  
}



@media only screen and (max-width: 600px) {
    .nav a {
        font-size: 14px;
        margin-left: 1em;
    }

    .nav a:first-of-type {
        margin-left: 0.5em;
    }

    .navLink:hover {
        color: black;
    }

    .logo {
        width: 120px;
    }

    .loginBtn {
        font-size: 14px;
        position: absolute;
        right: 0;
        margin-right: 20px;
        font-weight: 400;
        padding: 0.5em 1em;
        
    }
    

    .loginBtn:hover {
        background-color: white;
        color: black;
    }
}