.button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: inherit;
    text-decoration: none;
    vertical-align: baseline;
    
    
    
    background-color: white;
    outline: 2px solid var(--bgDark);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px 45px;
    color: black;
    transition: 0.2s ease-in-out;
    ;
}

.button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    outline: 2px solid black;
     
 }


@media only screen and (max-width: 600px) {
    .button {
        width: auto;
        height: auto;
        font-size: 1em;
        padding: 0.8em 1.9em;
    }


}