.colorInherit {
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
 .listItem {
    margin: 0 0 1.25rem;
}

.heading2Xl {
    font-size: 3.2rem;
    color: var(--fontPrimary);
    line-height: 1.4;
    font-weight: 200;
    letter-spacing: 0.05rem;
    margin: 1rem 0;
}
  
.headingXl {
    font-size: 2.2rem;
    color: var(--fontSecondary);
    line-height: 1.3;
    font-weight: 400;
    margin: 1rem 0;
}

.headingL {
    font-size: 1.2rem;
    color: var(--fontSecondary);
    font-weight: 500;

}
  
.subheading {
    font-size: 1rem;
    color: var(--subheading);
    font-weight: 600; 
}  
 

